<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <title>Keep your password</title>
</head>
<body>
    <header>
        <nav>
    <h1>Knockoff version of anonymous </h1>
    <h2>How to use</h2>
    <ul>
        <ol>Create account</ol>
        <ol>choose a unique username</ol>
        <ol>copy link and send to your friends</ol>
        <ol>login to view your dashboard and see anonymous messages from whoever</ol>
    </ul>
</nav></header>

 
       
    </div>
</body>
</html>