<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/password.css' %}">
    <title>Django Anonymous</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <h1>Keep your password</h1>
            <h2>
                <a href="{% url 'logout' %}"><button class="delete">
                        Logout</button></a>
               

            {% endif %} </h2>
            
           
        </nav>
    </header>
    
{% if data %}
        <div class="passwordlist">

        
        {% for data  in data %}

        
        <div class="datasheet">
        <h3>{{data.message}}</h3>
        <h3>{{data.time}}</h3>
        
     </div> 
      
    
     
     
     {% endfor %}
     
     </div>
     
    
     {% else %}
     <div class="empty">
         <h4>This place is empty</h4> <a href="{% url 'core:createMessage' %}"><button type="button" class="create">Create new password</button></a> 
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="logout" type="submit">Logout</button>
        </form>
     </div>


    {% endif %}
    <!-- <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="logout" type="submit">Logout</button> -->
  </form>
</body>

</html>